venv/
.venv/
env/


__pycache__/
*.py[cod]
*$py.class


.ipynb_checkpoints/
*/.ipynb_checkpoints/*


data/raw/
data/processed/amazon_help_pairs_full.csv
*.csv.zip


chroma_db/
.chroma/


.env


.DS_Store
Thumbs.db
.vscode/
.idea/
data/processed/amazon_help_pairs_sample_5k.csv
